@{
    ViewData["Title"] = "Inicio";
}

<main>
    <section class="hero">
        <div class="hero-content">
            <h1>Toda la moda, en un solo lugar</h1>
            <button class="btn-primary">Ver tiendas cercanas</button>
        </div>
    </section>

    <section class="section-category-grey">
        <div class="section-header">
            <h2>Ropa de mujer</h2>
        </div>

        <div class="cards-wrapper">
            <button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>

            <div class="cards-container">
                <div class="card">
                    <img src="~/img/tiendas/fuse.png" alt="Fuse">
                    <h3>Fuse</h3>
                    <p>San Justo, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/istoria.png" alt="Istoria">
                    <h3>Istoria</h3>
                    <p>Ramos Mejía, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/astra.png" alt="Astra">
                    <h3>Astra</h3>
                    <p>Villa Luzuriaga, Buenos Aires.</p>
                </div>
            </div>

            <button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>

        </div>
    </section>

    <section class="section-category-white">
        <div class="section-header">
            <h2>Ropa de hombre</h2>
        </div>

        <div class="cards-wrapper">
            <button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>

            <div class="cards-container">
                <div class="card">
                    <img src="~/img/tiendas/drop.png" alt="Fuse">
                    <h3>Fuse</h3>
                    <p>San Justo, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/noou.png" alt="Istoria">
                    <h3>Istoria</h3>
                    <p>Ramos Mejía, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/cosmos.png" alt="Astra">
                    <h3>Astra</h3>
                    <p>Villa Luzuriaga, Buenos Aires.</p>
                </div>
            </div>

            <button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>

        </div>
    </section>

    <section class="section-category-grey">
        <div class="section-header">
            <h2>Ropa infantil</h2>
        </div>

        <div class="cards-wrapper">
            <button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>

            <div class="cards-container">
                <div class="card">
                    <img src="~/img/tiendas/mimo_kids.png" alt="Fuse">
                    <h3>Fuse</h3>
                    <p>San Justo, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/mimico.png" alt="Istoria">
                    <h3>Istoria</h3>
                    <p>Ramos Mejía, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/buma.png" alt="Astra">
                    <h3>Astra</h3>
                    <p>Villa Luzuriaga, Buenos Aires.</p>
                </div>
            </div>

            <button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>

        </div>
    </section>

    <section class="section-category-white">
        <div class="section-header">
            <h2>Accesorios</h2>
        </div>

        <div class="cards-wrapper">
            <button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>

            <div class="cards-container">
                <div class="card">
                    <img src="~/img/tiendas/chloe.png" alt="Fuse">
                    <h3>Fuse</h3>
                    <p>San Justo, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/luxe_loom.png" alt="Istoria">
                    <h3>Istoria</h3>
                    <p>Ramos Mejía, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/almaira.png" alt="Astra">
                    <h3>Astra</h3>
                    <p>Villa Luzuriaga, Buenos Aires.</p>
                </div>
            </div>

            <button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>

        </div>
    </section>

    <section class="section-category-grey">
        <div class="section-header">
            <h2>Ropa deportiva</h2>
        </div>

        <div class="cards-wrapper">
            <button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>

            <div class="cards-container">
                <div class="card">
                    <img src="~/img/tiendas/tfl.png" alt="Fuse">
                    <h3>Fuse</h3>
                    <p>San Justo, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/rossfit.png" alt="Istoria">
                    <h3>Istoria</h3>
                    <p>Ramos Mejía, Buenos Aires.</p>
                </div>
                <div class="card">
                    <img src="~/img/tiendas/parner.png" alt="Astra">
                    <h3>Astra</h3>
                    <p>Villa Luzuriaga, Buenos Aires.</p>
                </div>
            </div>

            <button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>

        </div>
    </section>
</main>