@{
	Layout = "_Layout_Autenticacion";
	ViewData["Title"] = "Iniciar sesión";
}
@model LoginDTO;

<div class="form-container">
	<form asp-action="Login" asp-controller="Usuario" method="post">
		<div asp-validation-summary="ModelOnly"></div>
		<div class="form-group">
			<label asp-for="Email">Correo electrónico</label>
			<input asp-for="Email" />
			<span asp-validation-for="Email"></span>
		</div>
		<div class="form-group">
			<label asp-for="Contrasenia">Contraseña</label>
			<input asp-for="Contrasenia" type="password" />
			<span asp-validation-for="Contrasenia"></span>
		</div>
		<button type="submit">Iniciar sesión</button>
	</form>
</div>

@Html.Partial("_ValidationScriptsPartial");