@model QuickShop.MVC.Models.Usuario

@{
	Layout = "_Layout_Autenticacion";
	ViewData["Title"] = "Registro";

}

<div class="d-flex justify-content-center align-items-center bg-light py-5">
	<div class="modal-content p-4 rounded shadow w-100" style="max-width: 500px;">
		<div class="text-center mb-4">
			<img src="~/img/shopping-bag.png" alt="Logo QuickShop" class="mb-2" style="width: 40px;">
			<h4 class="fw-bold">Quick<span class="text-primary">Shop</span></h4>
		</div>

		<form asp-action="Registrar" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

			<div class="form-group mb-3">
				<label asp-for="Nombre" class="form-label fw-bold">Nombre/s</label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger small"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Apellido" class="form-label fw-bold">Apellido/s</label>
				<input asp-for="Apellido" class="form-control" />
				<span asp-validation-for="Apellido" class="text-danger small"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Email" class="form-label fw-bold">Correo electrónico</label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger small"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Contrasenia" class="form-label fw-bold">Contraseña</label>
				<input asp-for="Contrasenia" type="password" class="form-control" />
				<span asp-validation-for="Contrasenia" class="text-danger small"></span>
			</div>

			<div class="form-group mb-3">
				<label asp-for="Telefono" class="form-label fw-bold">Teléfono</label>
				<input asp-for="Telefono" class="form-control" />
				<span asp-validation-for="Telefono" class="text-danger small"></span>
			</div>

			<div class="form-group mb-4">
				<label asp-for="Direccion" class="form-label fw-bold">Dirección</label>
				<input asp-for="Direccion" class="form-control" />
				<span asp-validation-for="Direccion" class="text-danger small"></span>
			</div>

			<button type="submit" class="btn btn-modal-login w-100">Registrarse</button>
		</form>

		<p class="text-center mt-3 mb-0">
			¿Ya tenés una cuenta? <a href="/Usuario/Login" class="text-decoration-none">Iniciá sesión</a>
		</p>
	</div>
</div>

</div>

@Html.Partial("_ValidationScriptsPartial")